[Desktop Entry]
Type=Application
Name=UnionTech Mobile Assistant
Exec=/usr/bin/busctl --user call org.deepin.dde.Cooperation1 /org/deepin/dde/Cooperation1 org.deepin.dde.Cooperation1 ConnectAndroidDevice
Icon=org.deepin.dde.cooperation
Terminal=false

Name[zh_CN]=统信手机助手
Name[zh_HK]=統信手機助手
Name[zh_TW]=統信手機助手
