Source: dde-cooperation
Section: utils
Priority: optional
Maintainer: planc <hubenchang0515@outlook.com>
Rules-Requires-Root: no
Build-Depends:
 cmake,
 debhelper-compat (= 12),
 libavcodec-dev,
 libavformat-dev,
 libavutil-dev,
 libdtkwidget-dev,
 libevdev-dev,
 libexpected-dev,
 libfmt-dev,
 libfuse3-dev,
 libglibmm-2.4-dev,
 libprotobuf-dev,
 libspdlog-dev,
 libssl-dev,
 libswscale-dev,
 libuv1-dev,
 libxcb-randr0-dev,
 libxcb-util-dev,
 libxcb-xfixes0-dev,
 libxcb-xinput-dev,
 libxcb1-dev,
 meson,
 protobuf-compiler,
 qtbase5-dev,
 qttools5-dev-tools,
 systemd,
 uuid-dev,
Standards-Version: 4.5.1
Homepage: https://www.deepin.org

Package: dde-cooperation
Architecture: any
Depends:
 adb,
 ${misc:Depends},
 ${shlibs:Depends},
Description: cross-device collaboration by deepin
 dde-cooperation is a cross-device collaboration.
