Source: dde-cooperation
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends:
 debhelper (>= 11),
 pkg-config,
 libdtkwidget-dev,
 libdtkgui-dev,
 libdtkcore-dev,
 libdtkcore5-bin,
 qttools5-dev-tools,
 cmake,
 qtbase5-dev,
 libssl-dev,
 libzip-dev,
 uuid-dev,
 dde-file-manager-dev,
 libcurl4-openssl-dev,
 libxtst-dev,
 libavahi-compat-libdnssd-dev,
 libsystemd-dev,
Standards-Version: 4.1.3
Section: utils
Homepage: http://www.deepin.org

Package: dde-cooperation-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: dde-cooperation (= ${binary:Version}), ${misc:Depends}
Description: Dev package for deepin cooperation project
 Dev package for deepin cooperation project

Package: dde-cooperation-daemon
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin cooperation backend
 Deepin cooperation backend

Package: deepin-data-transfer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dde-cooperation-daemon
Description: deepin data transfer frontend
 Deepin Desktop Environment (DDE) - data transfer frontend.

Package: dde-cooperation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dde-cooperation-daemon
Description: deepin cooperation frontend
 Deepin Desktop Environment (DDE) - cooperation frontend.

Package: dde-cooperation-transfer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dde-cooperation-daemon
Description: deepin file transfer frontend
 Deepin Desktop Environment (DDE) - file transfer frontend.
