[Unit]
Description=Deepin Cooperation Daemon
After=network.target

[Service]
ExecStart=/usr/bin/cooperation-daemon
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
